#me{
    color:#FFFFFF;
    text-align:center
}
.mine{
   color:#FFFF66;
   text-align:center;
}
h3{
   color:#FFFFFF;
   text-align: center;	
}
img:hover{
   transform: scale(1,1);
   }
img{
   transition:transform 0.5s ease;
   }
